<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clase._2017._06._06_01_Acceso_a_BD.Properties.Settings.Setting"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\FerreroCristian\Lab2Clases\Ferrero.Cristian\Padron.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>